# Imagens
GHCR_NAMESPACE=jaisonpereira
IMAGE_TAG=prod

# Web
NEXT_PUBLIC_API_URL=https://api.splitup.appverso.com.br

# API
NODE_ENV=production
PORT=5000
JWT_SECRET=CHANGE_ME

# PostgreSQL nativo do host (compartilhado)
DATABASE_URL=postgresql://root:CHANGE_ME@172.18.0.1:5432/splitup_db?schema=public

# URLs públicas
FRONTEND_URL=https://splitup.appverso.com.br
APP_URL=https://splitup.appverso.com.br

# Email
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=noreply@splitup.appverso.com.br

# OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
